@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: Poppins, sans-serif !important;
}


.header-shadow-lg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-item {
  display: block;
  padding: 10px!important;
  text-align: center;

}
.nav-item .nav-link {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
 
}

.nav-item .nav-link.active-link {
  border: 3px solid #c58c4f;
  border-radius: 10px;

  padding: 4px 18px!important;
}

.nav-item :hover {
 
  color: #c58c4f;
  text-decoration: none;
}
.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.form-label, input .custom-input .form-control .form-control-sm {
  font-size: 12px!important;

  font-weight: 400;

}
.form-control  {
  font-size: 14px!important;
  color: var(--cui-input-color, rgba(44, 56, 74, .95))!important;
  font-weight: 400;
  line-height: 1.5;
  border:2px solid var(--cui-input-border-color, #b1b7c1);

}
.form-control:focus   {
  outline: none !important;
  border-color: #c58c4f !important;
  box-shadow: 0 0 2px #c58c4f !important;
}
.form-check-input {
  border: 3px solid rgb(180, 180, 180);
  
}
.form-check-input:checked {
  background-color: #c58c4f;
  border: 2px solid #c58c4f;
}

.background-gradient {
  background: linear-gradient(to bottom, #fff 50%, #f5f5f5 50%);
  height: 100vh;
  position: relative;
}

h3 {

 
  font-weight: 600;
  line-height: 1.5;
}
h4 {


  line-height: 1.5;
  font-weight: 700;
}
h5 {
  
  
  line-height: 1.5;
  font-weight: 300;
}
h6 {


  line-height: 1.5;
  font-weight:500;
}
ul li{
  padding:4px;
  font-size: 12px;
 
  font-weight: 400;
  
 
}
i {
  font-size: 0.875rem;
  padding: 5px;
  color: #c58c4f;
}

p {
  font-size: 12px;
 
  font-weight: 400;
 
}

h2 {


  
  font-weight: 400;
  line-height: 1.5;
}
.form-select {
  
  font-size: 12px!important;
 
  font-weight: 400!important;
}

.dropdown-item {
  background-color: white; 
  color: black;
}

.dropdown-item:hover {
  background-color: red; 
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: inherit !important;
}


.card-text-top {
  padding: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 5;
}
span {
  font-size: 015px;
}
.iti {
  position: relative !important;
  display: inline !important;
}
.cost {
  align-items: end;
  justify-content: end;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1050;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked {
  border: 2px solid #c58c4f;
  background-color: #c58c4f;
}

input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 7px;
}
.horizontal-line {
  width: 50%;
  height: 1px;
  background: black;
  border: 0;
  margin: 0.5rem auto;
}
.table-light{
  background-color: #007bff!important;
}
.table-container tr td p {
margin: 0!important;

}
.summary p {
  font-size: 12px;
 
  font-weight: 500;
  line-height: 1.2em;
}
.bg-caramel {
  background-color: #c58c4f; 
}

.bg-gradient {
  background: linear-gradient(to right, #c58c4f, #d2a779);
}

.bg-primary {
  background: linear-gradient(to right,  #F3CA48,#F3AD12); 
}

.bg-warning {
  background-color: #f39c12; 
}

.bg-secondary {
  background-color: #007bff; 
}
.bg-secondary {
  background: linear-gradient(to right, #c58c4f, #d2a779); 
}



.label-1 {
  display: flex; 
  align-items: center; 
  font-size: 16px;
  color: #333;
  margin-top: 30px; 
  cursor: pointer; 
}

.label-1 input[type="checkbox"] {
  margin-right: 10px; 
  width: 18px; 
  height: 18px;
  accent-color: #007bff;
}


.label-1 p {
  margin: 0; 
  font-size: 12px; 
  color: inherit; 
}


.label-1:hover {
  color: #c58c4f; 
}
.image-container {
 
  padding-left: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.image-container span{
  font-weight: 600;


}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 50px;
  visibility: visible;
}

.profile-label {

  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;

  padding: 8px 12px;
  transition: background-color 0.2s ease;
}



.profile-dropdown {
  position: absolute;
  right: 0;
  top: 120%;
  background: white;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 250px;
  text-align: left;
  z-index: 10;
}

.profile-dropdown p {
  margin: 5px 0;
  font-size: 12px;
  color: #333;
}

.profile-dropdown hr {
  margin: 8px 0;
}




.custom-btn {
  font-size: 14px !important;
  width: 100%;
  
}
#footer {

  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
}


#footer1 {
 
  position:relative ;
  left: 0 !important;
  bottom: 0 !important;
  width: 100%;

}
.copy-right .company-lg {
  font-weight: 600 !important;
  font-size: 9px !important;
  color: #5d3915;
}